@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --toast-bg: #ffffff;
  --toast-color: #1e293b;
  --toast-border: #e2e8f0;
}

:root.dark {
  --toast-bg: #1f2937;
  --toast-color: #f1f5f9;
  --toast-border: #334155;
}